.wrapBtns {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.wrapPage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 1vh;
  padding: 10px;
  background-color: rgb(47, 47, 47);
}

.Api{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  }
  
.inlineElements {
  display: flex;
  }

.maps{
  display: block;
  width: 450px;
  height: 450px;
  border: inset;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
